includes:
    - phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - src
        - stubs
    tmpDir: build/phpstan
    #Currently off for Laravel 10 support
    #checkOctaneCompatibility: true
    #checkModelProperties: true
    checkMissingIterableValueType: false

